.perfil-servico{
    display: flex;
    max-width: 106px;
    flex-direction: column;
    border: 2px solid rgb(155, 155, 155);
    border-radius: 5px;
    padding: 5px;
    max-height: 150px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease .2s;
    font-weight: bold;
}
.perfil-servico:hover{
    border: 2px solid rgb(247, 225, 22);
    color: rgb(247, 225, 22);
    transition: all ease .2s;
}
.perfil-servico.selected{
    background-color: rgb(247, 225, 22);
    color: black;
    border: 2px solid transparent;
}