header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease 0.5s;
  }
  
  header.black{
    background-color: #000000;
  }
  .header__logo{
    height: 30px;
  }
  
  .header__logo a {
    font-family:  'Roboto';
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
  }
  
  .header__user{
    height: 40px;
  
  }
  
  .header__user img{
    height: 100%;
    background-color: white;
    border-radius: 3px;
  }
  
  .header__barber-logo img{
    height: 85px;
    margin-top: 23px;
  }
  