.loyalty__missing-stars,
.loyalty__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 580px;
    margin: 35px auto;
}

.loyalty__card{
    max-width: 75px;
    margin: 20px;
}

.loyalty__card img{
    width: 100%;
}

.loyalty__title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.loyalty__title h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
}

.loyalty__title p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
}

.loyalty__missing-stars{
    
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 24px;
    
    display: flex;
    flex-direction: column;
}


.loyalty{    
    background:#1D1E1B; 
    padding: 40px 0;
}
.loyalty__scheduling{
    text-decoration: none;
    padding: 10px 20px;

    font-size: 18px;
    background: #8257c7;
    border: none;
    border-radius: 16px;

    font-family: 'Poppins';
    font-weight: 600;
    color: #FFF;

    cursor: pointer;
}

@media screen and (max-width:640px) {
    .loyalty{
        padding: 40px 20px 55px;
    }
    .loyalty__missing-stars, .loyalty__container {

        margin: 10px auto;
    }
    .loyalty__card{
        margin: 15px;
    }
}